@model IList<MyEShop.Models.Category>
    <!--category-productsr-->
    @foreach (var item in Model)
    {
        if (item.Children != null)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#@item.CategoryName" class="collapsed">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @item.CategoryName
                        </a>
                    </h4>
                </div>
                <div id="@item.CategoryName" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <ul>
                            @foreach (var child in item.Children)
                                {
                                <li><a href="#">@child.CategoryName</a></li>
                                }

                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">@item.CategoryName</a></h4>
                </div>
            </div>
        }
    }
